body{
    margin: 0;
    padding: 0;
}
.container334{
    max-width: 300px;
    margin: auto;
}
.manu-bar{
    position:absolute;
    top: 70;
    border-top: 2px solid #3E4347;
    border-bottom: 2px solid #3E4347;
    height: 40px;
    width: 100%;
    margin: auto;
    background-color: #d6d6d669;
}
.manu-bkg{
    background-color: #d6d6d6;
    width: 100%;
    height: 70px;
}
.container200{
    max-width: 1200px;
    margin: auto;
}
.manu-box22{
    width: 97%;
    height: 70px;
    margin: auto;
}
.manu-box22 img{
    width: 180px;
    margin-top: 20px;
    float: left;
}
.manu-box22 .search{
    float: right;
    margin-top: 20px;
}
.manu-box22 .search .form-control2{
    height: 33px;
}
.manu-box22 .search .btn{
    height: 32.5px;
    padding-top: 0;
}
.manu-bar .dropdown2{
    float: left;
}
.manu-bar ul{
    list-style: none;
    width: 394px;
    margin: auto;
}
.manu-bar ul li a{
    color: #3E4347;
}
.carousel-slide2{
    margin-top: 39.9px;
}
.text1{
    width: 214px;
    height: 41px;
    margin: 70px auto;
}
.text1 h3{
    color: #3E4347;
    text-align: center
}
.text2{
    float: left;
    background-color:#3E4347 ;
    width: 30%;
    height: 7px;
    margin-top: 14px;
}
.text3{
    float: right;
    background-color:#3E4347 ;
    width: 30%;
    height: 7px;
    margin-top: -95px;
}
.text{
    width: 90%;
    height: 41px;
    margin: auto;
}
.btnbox{
    max-width: 351px;
    margin:auto;
    overflow: hidden;
}
.itambox{
    width: 100%;
    margin: 55px auto;
}
.itam1{
    position: relative;
    height: 429px;
    width: 216px;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.itam1:hover{
    box-shadow: 0px 0px 6px -1px rgb(0 0 0 / 36%);
}
.itam1 a{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgb(221, 55, 63);
    height: 0px;
    text-align: center;
    color: #ffffff;
    border-radius:0px 0px 15px 15px;
    text-decoration: none;
    transition: 0.6s;
}
.itam1:hover a{
    display: block;
    height: 31px;
}
.item2{
    text-align: center;
}
.item3{
    text-align: center;
    font-size: 13px;
}
.item4{
    text-align: center;
    font-size: 18px;
    color: red;
}
.danger2{
    margin-left: 19%;
    display: none;
    transition: 0.6s;
}
.itam1:hover .danger2{
    display: block;
}
.card-img-top2{
    width: 80%;
    margin-left: 24px;
}
.itam1{
    float: left;
    margin-left: 1.5%;
   
}
.itam1:nth-child(5){
    float: none;
    margin-left: 10%;
}

.item10{
    width: 95%;
    margin: 5px auto
}
.prev-icon33{
    background-color: black;
}
.btn-primary2 {
    top: 12px;
    right: 3%;
    float: right;
    position: absolute;
    background: none;
    border: none;
    display: none;
}
.btn-primary2 i{
    font-size: 30px;
    color: #3E4347;
}
.form-check-input2{
    background-color: #060405;
    border-color: #e8146c;
    padding: 0;
    position: absolute;
}
.itam1:hover .form-check2{
    display: block;
}
.itam1 .form-check2 {
    position: absolute;
    bottom: 0.6%;
    right: 23%;
    display: none;
}
.carousel-control-prev2{
    margin-right: 0%;
    height: 33px;
    margin-top: 31%;
    width: 3%;
}
.carousel-control-prev3{
    margin-left: 0%;
    height: 33px;
    margin-top: 31%;
    width: 3%;
}
@media only screen and (max-width: 560px){
    .text2 {
        width: 28.7%;
    }
    .text3 {
        width: 28.7%;
    }
}
@media only screen and (max-width: 558px){
    .search .form-control2{
        display: none;
    }
    .search .btn{
        display: none;
    }
    .search .btn123{
        display: block;
    }
    .btn-primary2{
        display: block;
    }

}
@media only screen and (max-width: 532px) {
    .text2 {
        width: 27.6%;
    }
    .text3 {
        width: 27.6%;
    }
}
@media only screen and (max-width: 500px) {
    .text2 {
        width: 26%;
    }
    .text3 {
        width: 26%;
    }
}
@media only screen and (max-width: 464px){
    .text2 {
        width: 24.3%;
    }
    .text3 {
        width: 24.3%;
    }
}
@media only screen and (max-width: 420px){
    .text2 {
        width: 21.6%;
    }
    .text3 {
        width: 21.6%;
    }
}
@media only screen and (max-width: 360px) {
    .itam1 {
        height: 403px;
        width: 169px;
    }
    .item10 {
        width: 98.4%;
    }
    .manu-bar ul ul{
        width: 100%;
    }
    .manu-bar ul {
        width: 350px;
    }
    .danger2 {
        margin-left: 9%;
    }
    .btnbox {
        width: 94%;
    }
    .btn-outline-success2{
        float: left;
    }
    .text60{
        margin-top: 207px;
    }
    .itambox {
        margin: 12% auto;
        height: 1704px;
    }
    .text1{
        width: 214px;
        height: 41px;
        margin: 70px auto;
    }
    .text1 h3{
        color: #3E4347;
        text-align: center
    }
    .text2{
        width: 22%;
        margin-top: 14px;
    }
    .text3{
        width: 22%;
        margin-top: -95px;
    }
    .text{
        width: 97%;
        height: 41px;
        margin: auto;
    }
    .search .form-control2{
        height: 32.5px;
        padding-top: 0;
        margin-top: -52px;
        margin-left: 42%;
        width: 33%;
    }
    .search .btn{
        height: 34px;
        padding-top: 0;
        margin-top: 3px;
        width: 24%;
        margin-left: 1%;
    }
    .form-check2{
        margin-top: -369px;
        float: right;
        margin-right: 0%;
    }
    .carousel-control-prev2 {
        margin-left: 1%;
        height: 33px;
        margin-top: 209%;
        width: 9%;
    }
    .carousel-control-prev3 {
        margin-right: 1%;
        height: 33px;
        margin-top: 209%;
        width: 9%;
    }
    .prev-icon33 {
        background-color: #3f00ff;
    }
    .textber{
        margin-top: 439px;
    }
}


